@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&family=Gloria+Hallelujah&family=Gochi+Hand&family=Marck+Script&family=Nothing+You+Could+Do&family=Patrick+Hand&family=Sacramento&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Variables */
  --main-text: #f2f2f2;
  --scnd-text: #ffffffa8;
  --hover-color: rgb(109, 111, 243);
  --hologram-color: rgba(0, 255, 255, 0.2);
  --bg-fst-color: rgb(106, 28, 196);
  --bg-snd-color: rgb(61, 7, 112);
}

/* Scrollbar styles */
*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: #2b2135d7;
}

*::-webkit-scrollbar-thumb {
  background-color: #848088d7;
  border-radius: 20px;
  border: none;
}


a {
  text-decoration: none;
  color: var(--main-text);
}

a:hover {
  color: var(--main-text);
}

h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}